@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }
  @font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  }


.LatexTitle{
    font-family: CMR;
    font-size: 40px;
    padding-top: 40vh;
    text-align: center;
    margin-bottom: 20px;
}

.LatexName{
    font-family: CMR;
    font-size: 27px;
    text-align: center;
    margin-bottom: 13px;
}
.LatexDate{
    font-family: CMR;
    font-size: 27px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 45px;
}

.LatexAbstract{
    font-family: CMB;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.LatexAbstractText{
    margin-top:10px;
    font-family: CMR;
    font-size: 21px;
    text-align: center;
    text-align: justify;
    text-indent: 20px
}

.Margins{
    padding-left: 21%;
    width: 58%;
}

.AbstractMargins{
    padding-left: 6%;
    width: 88%;
    padding-bottom: 15px;
}

.Section{
    font-family: CMB;
    font-size: 33px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 20px;
}

.BodyText{
    font-family: CMR;
    font-size: 23px;
    text-align: Left;
    margin-top: 13px;
    margin-bottom: 45px;
    line-height: 125%;
}

.footerSize{
    height: 30vh;
    width: 100%;
}

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 
